nav ul li{
    display: inline;
    padding: 0 20px;
    text-align: center;
}    
.title{
    text-align: center;
    margin:0; 
    background-color: aqua;
}

body{
    background-image: url(Images/css_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}